*{
  box-sizing: border-box;
}

body{
  margin: 0;
  /* font-family: 'Noto Sans TC', sans-serif; */
}

/* main */
div.main{
  /* border: 1px solid red; */
  width: 1200px;
  margin: 0 auto;
}

/* banner */
div.banner1{
  /* border: 1px solid blue; */
  background-image: url("../images/index/banner1.png");
  width: 1200px;
  height: 550px;
  margin: 0 auto;
}

/* text 文字*/
div.text{
  /* border: 1px solid black; */
  width: 1200px;
  height: 150px;
  margin: 0 auto;
  position: relative;
}

div.text p{
  width: 500px;
  text-align: center;
  font-weight: bold;
  font-size: 16px;
  white-space: pre-line;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translateX(-50%);
  margin: 0 auto;
}

/* 分隔線 */
div.col h2::before{
  content: '';
  display: block;
  height: 1px;
  flex-grow: 1;
  background: #AB9B96;
  margin: 0 30px;
}

div.col > h2 {
  width: 1000px;
  box-sizing: border-box;
  display: flex;
  align-items: center;  /* 對齊交錯軸線中央 */
  color: #AB9B96;
  cursor: default;      /* 鼠標樣式 */
  font-size: 18px;
  margin: 0 auto;
}

div.col h2::after{
  content: '';
  display: block;
  height: 1px;
  flex-grow: 1;
  background: #AB9B96;
  margin: 0 30px;
}

/* 最新 熱門商品 */
div.commodity_nav{
  /* border: 1px solid green; */
  width: 1200px;
  height: 100px;
  margin: 0 auto;
  padding-top: 50px;
  text-align: center;
}

div.commodity_nav ul{
  display: inline-block;
  margin: 0;
  padding: 0;
  font-size: 0;
}

div.commodity_nav li{
  list-style: none;             /* 移除項目符號 */
  display: inline-block;
  font-size: 0;
}

div.commodity_nav a{
  color: inherit;              /* 移除超連結顏色 */
  text-decoration: none;        /* 移除超連結底線 */
  display: inline-block;       /* 讓 <a> 填滿 <li> */
  /* border: 1px solid black; */
  font-size: 24px;
  height: 50px;
  vertical-align: middle;
  padding: 10px 20px;
}

a.new{
  /* background-color: #f8e8be; */
  background-color:rgb(223, 197, 173);
  border:1px solid rgb(223, 197, 173);
}
a.new span{
  color: red;
  font-size: 18px;
}
a.hot{
  /* background-color: #f1c99b; */
  border:1px solid rgb(223, 197, 173);
}
a.hot span{
  color: red;
  font-size: 18px;
}

/* 最新 熱門商品圖 */
div.commodity{
  /* border: 1px solid blue; */
  width: 1200px;
  height: 420px;
  background-color: rgb(226, 213, 202);
  display: inline-block;
  position: relative;
}

div.commodity ul{
  padding: 0;
  margin-top: 50px;
  margin-right: 120px;
  margin-left: 120px;
}

div.commodity li{
  list-style: none;
}

div.list_product{
  /* border: 1px solid black; */
  margin: 0 auto;
  text-align:center;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

div.pr1{
  /* border: 1px solid green; */
  width: 200px;
  display: inline-block;
  text-align: center;
}
div.pr1 a.product{
  /* border: 1px solid red; */
  display: inline-block;
}

a img.product{
  width: 200px;
  height: 200px;
}

div.pr1_text{
  margin: 10px;
}

a.pr1_text{
  color: inherit;              /* 移除超連結顏色 */
  text-decoration: none;        /* 移除超連結底線 */
  /* border: 1px solid blue; */
  display: block;
  /* font-size: 14px; */
}

div.pr1_text h4{
  font-style: bold;
  font-size: 18px;
  margin:0;
  /* margin-bottom: 10px; */
}

div.pr1_text span{
  font-size: 16px;
}

div.commodity input{
  width: 80px;
  position: absolute;
  bottom: 40px;
  right: 120px;
  /* transform: translateX(-50%); */
  border-radius: 5px;
  border: 1px solid gray;
  color: gray;
  background: white;
  cursor: pointer;
}


/* banner2 */
div.banner2{
  /* border: 1px solid green; */
  width: 1200px;
  height: 300px;
  background: url("../images/index/banner3.png");
  opacity: 0.8;
  margin-top: 20px;
  margin-bottom: 40px;
  background-position: center;
  position: relative;
  background-attachment:fixed;
  background-repeat:no-repeat;
}

div.banner2 p{
  /* border: 1px solid red; */
  width: 450px;
  position: absolute;
  right: 30px;
  bottom:25px;
  text-align: center;
  font-size: 18px;
  line-height: 40px;
  white-space: pre-line;
  font-weight: 900;
}

/* 風格 */
div.style1{
  /* background-image: url("../images/3.jpg"); */
  /* background-size:100%; */
  /* background-repeat: no-repeat; */
  /* border: 1px solid rgb(40, 122, 160); */
  border-radius: 50px;
  width: 1000px;
  margin: 40px auto;
  display: grid;
  grid-template-columns: auto auto;
  padding-left: 100px;
  padding-right: 100px;
  
}

div.style_img{
  /* border: 1px solid green; */
  /* display: inline-block; */
  text-align: center;
  margin: 20px;
  width: 300px;
  margin: 20px auto;
  
}

div.style_text{
  /* border: 1px solid green; */
  /* display: inline-block; */
  width: 220px;
  margin: 20px auto;
  text-align: center;
  padding-top: 20px;
  position: relative;
  
}

div.style_text input{
  width: 80px;
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 5px;
  border: 1px solid gray;
  color: gray;
  background: white;
  cursor: pointer;
}

div.style1 a.style_img{
  /* border: 1px solid red; */
  width: 300px;
  height: 200px;
  display: inline-block;
}

div.style1 img{
  /* border: 1px solid orange; */
  width: 300px;
  height: 200px;
  display: inline-block;
}

div.style_text h4{
  font-size: 18px;
  /* border: 1px solid orange; */
}

div.style_text span{
  font-size: 16px;
  
  /* border: 1px solid orange; */
}

/* 找設計 */
div.design{
  /* border: 1px solid blue; */
  margin-top: 30px;
  display: inline-block;
  width: 1200px;
  height: 750px;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

div.design img.back{
  width: 800px;
  height: 600px;
  opacity: .5;
  position: absolute;
  left:50%;
  top:56px;
  transform: translateX(-50%);
}

div.design_1{
  /* border: 1px solid green; */
  width: 400px;
  height: 500px;
  position: relative;
  text-align: center;
  padding-top: 30px;
  position: absolute;
  top:10%;
  left: 0;
}

div.design_2{
  /* border: 1px solid red; */
  width: 400px;
  height: 500px;
  position: relative;
  text-align: center;
  padding-top: 30px;
  display: inline-block;
  position: absolute;
  left:50%;
  top:20%;
  transform: translateX(-50%);
}

div.design_3{
  /* border: 1px solid orange; */
  width: 400px;
  height: 500px;
  position: relative;
  text-align: center;
  padding-top: 30px;
  display: inline-block;
  position: absolute;
  right: 0;
  top:30%;
}

div.design img{
  width: 250px;
  border-radius: 10px;
  z-index: -1;
}

div.design span.d1{
  /* border: 1px solid black; */
  background:rgb(223, 197, 173);
  padding: 10px;
  /* writing-mode: vertical-lr; */
  font-size: 16px;
  font-weight: bold;
  border-radius: 10px;
  position: absolute;
  left: 10%;
  bottom: 80px;
  transform: translateY(-30%);
  z-index: 1;
}

div.design span.d2{
  /* border: 1px solid black; */
  background:rgba(255, 253, 247, 0.8);
  padding: 10px;
  width: 270px;
  height: 80px;
  text-align: center;
  white-space: pre-line;
  /* writing-mode: vertical-lr; */
  font-size: 14px;
  border-radius: 10px;
  position: absolute;
  bottom: 40px;
  left: 15%;
}

/* 更多商品 */

div.commodity_1{
  /* border: 1px solid blue; */
  width: 1200px;
  height: 360px;
  padding-top: 20px;
  /* background-color: #e9dccb; */
  display: inline-block;
  position: relative;
}

div.commodity_1 ul{
  padding: 0;
  margin-top: 40px;
  margin-bottom: 40px;
  /* margin-right: 120px; */
  /* margin-left: 120px; */
}

div.commodity_1 li{
  list-style: none;
}

div.list_product_1{
  /* border: 1px solid black; */
  margin: 0 auto;
  text-align:center;
  width: 1100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

div.list_product_1 img{
  width: 150px;
  height: 150px;
}

div.commodity_1 > a.next1 > img{
  width: 30px;
  position: absolute;
  bottom: 50%;
  cursor: pointer;
}

div.commodity_1 > a.next2 > img{
  width: 30px;
  position: absolute;
  bottom: 50%;
  right: 0;
  cursor: pointer;
}

/* 按鈕特效 */
input#more:hover{
  background-color: rgb(189, 164, 143, 0.5);
  color: black;
}


/* end */