* {
  box-sizing: border-box;
}

body {
  margin: 0;
  /* font-family: 'Noto Sans TC', sans-serif; */
}

header > nav.title > ul > li:nth-child(4) > a {
  /* border: 2px solid rgb(117, 61, 23); */
  border-radius: 5px;
  background-color: rgb(135, 100, 100, 0.5);
  color: white;
}

nav.title1 > ul > li:nth-child(4) > a{
  background-color: rgb(250, 242, 214);
}

nav.title1 > ul > li > div.menu_1 > a.test:hover{
  background-color: rgb(250, 242, 214);
}

/* main */
div.main {
  /* border: 1px solid red; */
  width: 100%;
  max-width: 1680px;
  margin: 0 auto;
}


div.qs_icon{
  /* border: 1px solid black; */
  display: flex;
  justify-content: center;
}


/* ul.FAQ  問答SVG*/
ul.FAQ {
  /* border: 1px solid blue; */
  display: flex;
  justify-content: center;
  font-size: 0;
  
  margin-top: 100px;
  margin-bottom: 50px;
}

ul.FAQ img {
  width: 100px;
  height: 100px;
  /* border:1px solid gray; */
}

ul.FAQ  > li {
  list-style: none; /* 移除項目符號 */
  display: inline-block;
  /* margin-right: 100px; */
  margin: 10px 50px;
}

ul.FAQ > li > a {
  font-size: 24px;
  color: inherit; /* 移除超連結顏色 */
  text-decoration: none; /* 移除超連結底線 */
  display: inline-block; /* 讓 <a> 填滿 <li> */
}

ul.FAQ > li > a > h5 {
  margin: 0 auto;
  text-align: center;
}

/* 問題 */
div.pr{
  /* border: 1px solid orange; */
  width: 80%;
  margin: 0 auto;
}
div.pr h4 {
  /* border: 1px solid gray; */
  font-size: 18px;
  font-weight: bold;
  width: 70%;
  margin: 0 auto;
  /* margin-top: 40px; */
}

div.pr1 {
  /* border: 1px solid blue; */
  /* width: 70%; */
  margin: 0 auto;
  text-align: center;
}

div > dt {
  margin: 0 auto;
}

div > dt > button {
  background-color: rgb(228, 202, 178);
  width: 70%;
  /* border: none; */
  border: 1px solid gray;
  display: flex;
  text-align: left;
  margin: 0 auto;
  /* margin-bottom: 10px; */
  padding: 20px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  position: relative;
}

@media (max-width:767.98px) {
  div > dt > button {
    font-size: 16px;
  }
}


/* 解答 */
div.pr1_a {
  /* border: 1px solid gray; */
  width: 70%;
  margin: 0 auto;
  max-height: 0;
  overflow: hidden;
  padding: 10px 40px;
  text-align: left;
  letter-spacing: 1.5px;
  
  /* transition: max-height 0.2s ease-out; */
  /* background-color: white; */
}

div.pr1_a.-on {
  max-width: 200px;
}


/* 加號 */

/* div > dl > div > dt > button.coll::after {
  content: "\002B";
  color: rgba(20, 20, 20, 0.4);
  margin-left: 5px;
  font-size: 35px;
  position: absolute;
  right: 10px;
  bottom: 10px;
} */

div > dl > div > dt > button > div.add{
  /* float: right; */
  position: absolute;
  right: 15px;
}

div > dl > div > dt > button > div.sub{
  /* float: right; */
  position: absolute;
  right: 15px;
  display: none;
}

div.add.-on{
  display: none;
}

div.sub.-on{
  display: block;
}




/* 分隔線 */
div.main hr {
  width:80%;
  margin: 40px auto;
}


/* 表單 */
div.speak{
  border: 2px solid rgb(219, 207, 194);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0 150px;
}


div.form {
  border: 1px solid green;
  border-radius: 10px;
  width: 40%;
  text-align: left;
  margin: 0 auto;
  margin-bottom: 50px;
  position: relative;
}

div.form h3 {
  /* border: 1px solid blue; */
  text-align: center;
}

div.form > form {
  border: 1px solid black;
  /* height: 200px; */
  display: inline-block;
  width: 100%;
  margin: 0 auto;
  padding-left: 40px;
}

div.form > form > label {
  /* border: 1px solid orange; */
  width: 80%;
  display: block;
  font-size: 16px;
  margin: 10px;
  margin-bottom: 5px;
  font-weight: bold;
}

div.form > form > input {
  width: 80%;
  min-width: 100px;
  height: 30px;
  margin-left: 10px;
  border: 1px solid rgb(212, 168, 126);
}

div.form > form > textarea {
  border: 1px solid rgb(212, 168, 126);
  width: 80%;
  height: 100px;
  margin-left: 10px;
  margin-bottom: 20px;
  display: block;
  box-sizing: border-box;
  /* max-width: 170px;
  max-height: 170px; */
  /* border-radius:10px; */
}

div.form > form > button {
  width: 100px;
  background-color: white;
  border: none;
  border: 2px solid gray;
  border-radius: 5px;
  /* margin: 0 auto; */
  margin-left: 50px;
  margin-bottom: 40px;
  cursor: pointer;
}

@media (max-width:991px) {
  div.form {
    width: 70%;
  }
}

/* message 聯絡資訊 */

div.message {
  border: 1px solid rgb(212, 168, 126);
  /* display: inline-block; */
  width: 30%;
  /* margin-left: 40px; */
  margin-right: 50px;
  padding-right: 20px;
  padding-bottom: 20px;
  /* position: absolute;
  top: 30%; */
}

div.message h4 {
  /* border: 1px solid orange; */
  text-align: center;
}

div.message ul {
  list-style: none; /* 移除項目符號 */
}

div.message > ul > li {
  margin: 10px;
}

/* 按鈕特效 */
#more:hover {
  background-color: rgb(189, 164, 143, 0.5);
  color: black;
}
